# Importing all The Required Libraries

In [26]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.metrics import confusion_matrix,classification_report

# Reading Csv File From a Local Disk

In [27]:
x=pd.read_csv("C:\\Users\\KATA\\Documents\\DATA SCIENCE\\DataSets 1\\sms_spam.csv")

In [28]:
x.head()

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4  spam  okmail: Dear Dave this is your final notice to...

# Cleaning The Data

In [29]:
import re
def remove(y) :
    y=re.sub("[^0-9a-zA-Z]"," ",y)
    y=re.sub("[0-9]"," ",y)
    y=y.lower()
    return y

In [30]:
x["Clean"]=x.text.apply(remove)

In [31]:
x.drop(["text"],axis=1,inplace=True)

In [32]:
x.head()

   type                                              Clean
0   ham  hope you are having a good week  just checking in
1   ham                            k  give back my thanks
2   ham        am also doing in cbe only  but have to pay
3  spam  complimentary   star ibiza holiday or         ...
4  spam  okmail  dear dave this is your final notice to...

# Building The Model

In [116]:
t=TfidfVectorizer(min_df=3,max_df=5,use_idf=True)

In [117]:
t1=t.fit_transform(x["Clean"])

In [118]:
from sklearn.naive_bayes import MultinomialNB

In [119]:
m=MultinomialNB()

In [120]:
b=x["type"]

In [121]:
n=m.fit(t1,b)

In [122]:
n

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

# Predecting The Model

In [127]:
pred=n.predict(t1)

# Evulating The Model

In [128]:
print(confusion_matrix(b,pred))

[[4812    0]
 [ 436  311]]

In [129]:
print(classification_report(b,pred))

              precision    recall  f1-score   support

         ham       0.92      1.00      0.96      4812
        spam       1.00      0.42      0.59       747

    accuracy                           0.92      5559
   macro avg       0.96      0.71      0.77      5559
weighted avg       0.93      0.92      0.91      5559